<?xml version="1.0"?>
<model>
  <name>Triangle of Life arena</name>
  <version>1.0</version>
  <sdf version='1.5'>arena.sdf</sdf>

  <author>
   <name>Elte Hupkes</name>
   <email>elte@hupkes.org</email>
  </author>

  <description>
    An example of Triangle of Life arena.
  </description>
</model>
