[submodule "thirdparty/limbo"]
	path = thirdparty/limbo
	url = https://github.com/resibots/limbo.git
[submodule "thirdparty/MultiNEAT"]
	path = thirdparty/MultiNEAT
	url = https://github.com/ci-group/MultiNEAT.git
[submodule "thirdparty/SimpleAmqpClient"]
	path = thirdparty/SimpleAmqpClient
	url = https://github.com/alanxz/SimpleAmqpClient.git
[submodule "thirdparty/reversible_de"]
	path = thirdparty/reversible_de
	url = https://github.com/jmtomczak/reversible-de.git
