<?xml version="1.0"?>
<model>
  <name>ToL Sample robot</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Elte Hupkes</name>
   <email>elte@hupkes.org</email>
  </author>

  <description>
    Mostly a container of meshes for path convenience.
  </description>
</model>
