<?xml version="1.0"?>
<model>
  <name>RoboGen robot</name>
  <version>1.0</version>
  <sdf version='1.5'>robot.sdf</sdf>

  <author>
   <name>Elte Hupkes</name>
   <email>elte@hupkes.org</email>
  </author>

  <description>
    An example of a RoboGen modular robot in X shape.
  </description>
</model>
